* {
  margin: 0;
  padding: 0;
}

.circle {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #000
}

p.small-text {
  font-size: 11px;
}